{% extends "admin/change_list.html" %}

{% comment %}
   GLOBAL CHANGE LIST OVERRIDE
   ---------------------------
   This template wraps EVERY list view in the Django Admin.
   We use it to:
   1. Inject custom CSS if provided by the view.
   2. Control the visibility of the filter sidebar via a CSS class.
{% endcomment %}

{% load static %}

{% block extrahead %}
    {{ block.super }}
    {% if custom_css %}
        {{ custom_css }}
    {% endif %}
{% endblock %}

{% block content %}
    {% comment %}
       The 'filter-hidden' class allows us to hide the right-hand filter bar
       by default using CSS (in sais_admin.css).
    {% endcomment %}
    <div id="changelist-wrapper" class="{% if not cl.has_filters %}filter-hidden{% endif %}">
        {{ block.super }}
    </div>
{% endblock %}
